{% extends "base.html" %}

{% block title %} Seja Bem Vindo - Pagina Principal {% endblock title %} 

{% block main %}

    <h1>Olá mundo!</h1>

    <ul>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
    </ul>

    <h2><strong>Condicionais</strong></h2>
    {% if sexo == "M" or sexo == "m" %}
        Ola senhor {{ nome }}
    {% elif sexo == "F" or sexo == "f" %}
        Ola senhora {{ nome }}
    {% else %}
        Ola {{ nome }}
    {% endif %}

    <br><br>

    <h2><strong>Loops</strong></h2>
    <ul>
        {% for pessoa in lista %}
            {% if pessoa.sexo == "M" or pessoa.sexo == "m" %}
                <li>Ola senhor {{ nome }}</li>
            {% elif pessoa.sexo == "F" or pessoa.sexo == "f" %}
                <li>Ola senhora {{ pessoa.nome }}</li>
            {% else %}
                <li>Ola {{ pessoa.nome }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <button class="btn btn-info">Clique aqui</button>

    {% include "footer.html" with pnome=nome %}
{% endblock  %}
